<section class="changePassword">
    <div class="changePassword__wrapper">
        <div class="changePassword__avatar">{{{avatar}}}</div>
        <div class="changePassword__container">
            <ul class="changePassword__list">
                <li>{{{oldPass}}}</li>
                <li>{{{newPass}}}</li>
                <li>{{{repeatPass}}}</li>
            </ul>

            {{{buttonSubmit}}}    
        </div>
    </div>
    {{{linkReturn}}}
</section>
