<section class="editProfile">
    <div class="editProfile__wrapper">
        <div class="editProfile__avatar">{{{avatar}}}</div>
        <div class="editProfile__container">
            <ul class="editProfile__list">
                <li>{{{email}}}</li>
                <li>{{{login}}}</li>
                <li>{{{firstName}}}</li>
                <li>{{{lastName}}}</li>
                <li>{{{nik}}}</li>
                <li>{{{phone}}}</li>
            </ul>

            {{{buttonSubmit}}}    
        </div>
    </div>
    {{{linkReturn}}}
</section>
