<section class="preview">
    <ul class="preview__list">
        {{{linkSignIn}}}
        {{{linkSignUp}}}
        {{{linkChats}}}
        {{{linkProfile}}}
        {{{linkEditProfile}}}
        {{{changePassword}}}
        {{{err404}}}
        {{{err500}}}
    </ul>
</section>