<section class="signup">
    <form class="signup__form">
        <div class="signup__wrapper">
            <h1 class="signup__title">Регистрация</h1>
            {{{email}}}
            {{{login}}}
            {{{firstName}}}
            {{{lastName}}}
            {{{phone}}}
            {{{password}}}
            {{{passwordRepeat}}}
        </div>
        <div class="signup__wrapper">
            {{{button}}}
            {{{link}}}
        </div>
    </form>
</section>